
/* Main */
a:hover, button:hover {
    cursor: pointer;
    opacity: 0.7

}

/* WORK! */

.classroom {
    overflow-y: scroll;
    /* scrollbar-width: 0; 
    -ms-overflow-style: none; */
}

.classroom::-webkit-scrollbar {
    width: 1vw;
    
}
.classroom::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4)
}

.work {
    min-height: 10vh;
    max-height: 400vh;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    
    padding: 1.5vw 2vw;
    margin: 1.5vw 5vw;
    margin-right: 0;

    hyphens: auto;
    word-wrap: break-word;
}

.work-detail {
    font-size: 13px;
    margin-top: 5px;
    text-align: justify;
}
.created-at {
    font-size: 11px;
    color: rgb(206, 206, 206);
    font-style: italic;

    margin-top: 5px;
}
.deadline-display {
    font-weight: 100;
    font-size: 15px;
    letter-spacing: 0.1em;
    color: rgb(247, 230, 207);

    margin-top: 10px;
    margin-bottom: 20px;
}

.work-title {
    cursor: pointer;

    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 3vh;
    margin-top: 1vh;
}

.work-title:hover {
    cursor: pointer;
    opacity: 0.7
}

.submission {
    display: block;
}
.student-submission {
    background-color: rgba(202, 202, 202, 0.07);
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 25px;
}
.student-submission .bar {
    height: 1px; 
    margin-top: 4vh
}
.student-email {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
}
.student-email:hover {
    cursor: pointer;
    opacity: 0.7;
}

.student-text {
    font-size: 12.5px;
    margin-top: 2vh;
}

/* nhan xet cua giao vien*/
.rate, .rate-form{
    font-weight: 700;
    font-size: 12px;
    margin-top: 20px;
    color: white;

    display: grid;
    grid-template-columns: 12% 80% 8%;
    border: 0.5px dashed rgba(207, 207, 207, 0.2);

    word-wrap: break-word; 
    min-height: 60px;
}

.rate-form {
    border-color: transparent;
    display: none;
    min-height: 60px;
}

.rate-form input:focus {
    border-color: rgba(255, 255, 255, 0.616);
}
.rating {
    padding-left: 8px;
}
.grade {
    font-weight: 700;
    text-align: center;
    border-right: 0.5px dashed rgba(207, 207, 207, 0.2);
}
.grade-display, .rating-display {
    font-weight: 100;
    margin-top: 5px;
}

.edit-rate-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.edit-rate-button-wrapper button {
    background-color: transparent;
    border: none
}
.edit-rate-button-icon {
    background-image: url(../img/edit.png);
    width: 16px;
    height: 16px;
}
.edit-rate-button-icon:hover {
    opacity: 0.7;
}
/* Input nhận xét của GV */

.grade-input-wrapper {
    display: flex;
    justify-content: center;
}

.rating-input-wrapper input, .grade-input-wrapper input {
    display: flex;
    justify-content: center;
    word-wrap: break-word; 
    word-break: break-all;
    
    margin-top: 5px;
    color: white;
    border: 0.5px solid rgba(172, 172, 172, 0.452);
}

.grade-input-wrapper input {
    text-align: center;
    width: 40px;
}
.rating-input-wrapper input {
    width: 100%;
}

.cancel-rate-button {
    font-weight: 100;
    letter-spacing: 0.2em;
    font-size: 9px;
    background-color: transparent;
    border: none;
}
.done-rate-button {
    font-size: 12px;
    background-color: transparent;
    border: none;
}



/*888888888888888888888888888888888888888888888888*/
/* Add work */
.add-work {
    font-size: 12px;
    font-weight: 700;
}

.add-work input {
    height: 18px;
    font-size: 11px;
    color: white;
    font-weight: 100;

    word-wrap: break-word; 
    word-break: break-all;

    padding-left: 4px;
    margin: 0 10px;
    padding-bottom: 0;
    border: 0.5px solid rgba(207, 207, 207, 0.452);
}
#addWorkTitle {
    width: 400px;
}
#addDeadline {
    width: 20px;
}
.add-work-info {
    display: flex;
}
.add-work input:focus {
    border-color: rgba(255, 255, 255, 0.644);

}
.add-work button {
    font-size: 8px;
    background-color: transparent;

    border: 1px solid white;
    border-radius: 20px;

    padding: 5px 15px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.shorten-icon {
    writing-mode:vertical-rl;
    transform: rotate(0deg);
    padding-bottom: -1em;
}

/* Students */
.hearts img {
    width: 20px;
}
.hearts-title {
   font-size: 9px; 
   margin-top: 10px;
}
.student-text a {
    padding-bottom: 1px;
}
.student-text a:hover {
    border-bottom: 0.5px solid white;
}
.student-text button {
    font-size: 8px;
    background: transparent;
    border: 1px solid white;
    border-radius: 20px;

    margin-top: 20px;
}

/* Students list */
.classmates {
    font-size: 12px;
    padding-top: 2vh;
}
.classmate {
    display: grid;
    grid-template-columns: 10% 35% 20% 35%;
    height: 40px;
    font-weight: 700;

    border-top: 0.5px dashed gray;
}
.classmate div {
    display: flex;
    align-items: center;
}

.classmate-email {
    font-weight: 100;
    width: 90%;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.classmate-points {
    justify-content: flex-end;
}

.classmate-hearts {
    justify-content: center;
}


@media only screen and (max-width: 768px) {
    textarea {
        width: 98%
    }
    .classroom {
        max-width: 100vw;
    }
    .error-message {
        font-size: 2.8vw;
    }


    /* WORK DISPLAY */ 
    #works {
        padding-top: 10vh;
        margin: 0;

    }
    .work {
        padding: 2.5vw;
        margin: 2.5vw 1.5vw;
    }

    #submission-title {
        font-size: 3.5vw;
    }
    .work-title {
        font-size: 3.8vw;
    }
    .work-detail {
        font-size: 3.9vw;
    }
    .created-at {
        font-size: 3vw;
    }
    .deadline-display {
        font-size: 4vw;
    }
    .student-email {
        font-size: 4.2vw;
    }
    .student-text {
        font-size: 3.7vw;
    }
    .rate {
        font-size: 3.2vw;
    }
    /* ADD WORK*/
    #addWorkTitle, #addDeadline, #ques {
        font-size: 3.5vw;
    }
    .add-title-res {
        margin: 0
    }
    #addWorkTitle {
        width: 65%;
        margin: 0;
    }
    #addDeadline {
        margin: 0
    }
    /* STUDENTS LIST */ 
    #std-list .work-title {
        font-size: 3.6vw;
    }
    #add-student {
        font-size: 2.2vw;
    }
    #add-student-input {
        margin-top: 1vw;
    }
    .classmate {
        display: grid;
        grid-template-columns: 5% 60% 15% 20%;
    }

    .class-info-wrapper {
        margin-top: 45px;
    }
}